<div class="show-mobile">
  <div class="logoName">
    <img src="./assets/imagenes/logo-burger.png" alt="logo">
    <p class="logo1 title">KROSTY</p>
    <p class="logo2 title">BURGER</p>
  </div>

  <div class="account">Usuario@example.com</div>

</div>

<!-- <div class="hide-mobile">
  <div class="logoName">
    <img src="./assets/imagenes/logo-burger.png" alt="logo">
    <p class="logo1 title">KROSTY</p>
    <p class="logo2 title">BURGER</p>
  </div>

  <div class="account">Usuario@example.com</div>
</div> -->
