* {
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    padding: 0;
    margin: 0;
    gap: 0.4rem;
}

.buttonMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    list-style: none;
    background: #FFB4B4;
    width: 60%;
    padding: 0.8rem;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    transform: rotate(180deg);
    color: #FFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonMenu:hover {
    background-color: #f37794;
}

.container {
    display: flex;
    gap: 1.5rem;
    padding-inline-end: 3rem;
}

.menuContainer{
    width: 45%;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.productCard {
    background: linear-gradient(0deg, #FFF5E4, #FFF5E4);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    width: 45%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.productCard p {
    text-align: center;
    margin: 0;
}

.infoBreak{
    padding-bottom: 1.5rem;
}

.add {
    width: 28px;
}

.addContainer{
    display: flex;
    flex-direction: row;
    gap:1.5rem;
}

.addButton {
    border: none;
    background: none;
    cursor: pointer;
}

button:active{
    transform: scale(.9);
}

img{
    width: 90px;
}

.containerOrders {
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem
}

.order {
    width: 20%;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px gray;
    padding: 2rem;
    text-align: center;
}

.order h3 {
    margin: 0;
}

.oneItem {
    display: flex;
    justify-content: space-between;
}
span{
    color: #FE724C;
}

p{
    font-weight: 600;
}