.orderSheet {
    border-radius: 1rem;
    box-shadow: 2px 2px 10px gray;
    padding: 2rem;
    width: 40%;
}

.item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}


.orderSheet button {
    background: #FFB4B4; 
    border: none;
    font-weight: 700;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
}

.orderSheet input{
    margin: 0;
}

.order {
    width: 20%;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px gray;
    padding: 2rem;
    text-align: center;
}

.order h3 {
    margin: 0;
}

.oneItem {
    display: flex;
    justify-content: space-between;
}

.containerItem {
    /*width: 327px;
    height: 16rem;*/
    border: rgb(238, 237, 237);
    max-height: 16rem;
    overflow-y: scroll;
}

.containerItem::-webkit-scrollbar{
    width: 6px;
    background: #FFB4B4;
    border-radius: 4px;
}

.containerItem::-webkit-scrollbar-thumb{
    width: 6px;
    background:#F24A72;
    border-radius: 4px;
}

.itemName {
    font-size: 1.05rem;
    font-weight: normal;
}

.deleteProduct {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: FFAEC0;
    place-content: center;
}

.delete {
    background: white;
    height: 2px;
    width: 100%;
    border: none;
}

.buttonOrder {
    font-size: 1rem;
    color: #F24A72;
    border-radius: 0.5rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-block-start: 0.8rem;
}