
section{
  padding: 0 15px;
}
.show-mobile{
  display: block;
  .takeOrder{
    // display: flex;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: #01957D;
    padding: 5px;
    .orders{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgba(184, 217, 138, 1);
      margin: 5px 4px;
      border-radius: 5px;
    }
    .totalOrder{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .totalPrice{
        font-size: 40px;
        margin: 10px;
      }
      .cocinaButton{
        background-color: #EF5F2B;
        height: 45px;
        border-radius: 10px;
      }
    }
  }
  .content{
    padding: 1em;
    height: 50%;
    background-color: #FDFCC6;
    justify-content: center;
    .menu--options{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 1em;
    }
    .menu--grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 15px;
      padding-bottom: 1em;
    }

  }
  .footer{
    background: rgba(184, 217, 138, 1);
    text-align: center;
    padding: 1em;
  }
}

.hide-mobile{
  display: none;
  .content{
    padding: 1em;
    height: 750px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(184, 217, 138, 1);
    width: 50%;
    .menu--options{
      display: flex;
      justify-content:left;
      align-items: center;
      padding-bottom: 1em;
      width: 50%;
    }
    .menu--grid--desayuno{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 15px;
      padding-bottom: 1em;
      width: 50%;
    }
    .menu--grid--almuerzo{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 15px;
      padding-bottom: 1em;
      width: 50%;
    }
  }
  .footer{
    background: rgba(184, 217, 138, 1);
    text-align: center;
    padding: 1em;
  }
}



/* desktop */
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}
