
<app-cabecera> </app-cabecera>
<section>
  <p>la cantidad de elementos seleccionados {{myorder.length}}</p>
  <p>
    total: ${{total}}
  </p>
  <div class="show-mobile">
    <main class="content">
      <div class="menu--options">
        <button (click)=" mostrarOcultar()">Desayuno</button>
        <button>Almuerzo</button>
      </div>
      <div *ngIf="mostrar" class="menu--grid">

        <app-product
       
        [product]='product'
        *ngFor="let product of product"
        (addPRoduct)="onAddToOrder($event)"
        ></app-product>
      </div>
    </main>
    <div class="footer">
      <p> Desarrollado por ##### 2022</p>
    </div>
  </div>
</section>


<div class="hide-mobile">
  <div class="content">

    <div class="menu--options">
      <button  (click)=" mostrarOcultar()">Desayuno</button>
    </div>
    <div *ngIf="mostrar" class="menu--grid--desayuno">
      <app-product [product]='product'
      *ngFor="let product of product"></app-product>
    </div>

    <div class="menu--options">
      <button (click)=" mostrarOcultar()">Almuerzo y cenas</button>
    </div>
    <div *ngIf="mostrar" class="menu--grid--almuerzo">
      <app-product [product]='product' *ngFor="let product of product"></app-product>
    </div>
  </div>

  <div class="footer">
    <p> Desarrollado por ##### 2022</p>
  </div>
</div>







