.order{
    background-color: white;
    width: 20rem;
    height: 20rem;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -1px -1px 23px 6px rgb(190, 164, 128);
}

.btn-entregar{
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

