.btn-menu{
    width: 11rem;
    height: 2.2rem;
    background-color: var(--beige);
    color: var(--black);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;
}

.btn-menu:active{
    background-color: var(--orange);
}

.bg-orange{
    background-color: var(--orange);
}

.bg-lightBeige{
    background-color: rgba(232, 177, 105, 1);
    width: 9rem;
}