/* Admin users */
.btn-create-user{
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 15rem;
    border-radius: 0.5rem;
}

.img-create-user{
    height: 2rem;
    width: 2rem;

}

.user-table{
 width: 60rem;
 padding: 0.5rem;
 margin: 2rem;
}

.etiquetas{
    font-size: 1.2rem;
    /* justify-content: space-around; */
}

.content{
    justify-content: space-around;
}

.img{
    height: 2rem;
}

/* Admin orders */

.btn-entregar{
    display: none;
}
