.card-container{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-zone{
    background-color: var(--white);
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
 
.card-item{
    width: 80px;
    height: 85px; 
}

.item-controller{
    width: 100%;
    height: 40px;
    background-color: var(--beige);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    width: 25px;
    height: 25px;
    border-radius: 8px;
    background-color: rgba(224, 123, 84, 1);
    margin-inline: 20px;
    text-align: center;
}