
.content{
  background-color: rgba(253, 252, 198, 1);
}

.menu--grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 15px;
}

.footer{
  background-color: rgba(184, 217, 138, 1);
}

// desktop
@media screen and (min-width: 64em){
  .menu--grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
  }
}
