.modal-container{
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: var(--white);
    max-width: 22rem;
    max-height: 22rem;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 3px solid var(--beige);
    box-shadow: 4px 4px 8px rgb(10 10 10 / 63%);
    padding: 1.5rem;
    margin: 1rem;
}

.btn-modal{
    background: var(--black);
    color: var(--white);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding-inline: 2.4rem;
    padding-block: 0.5rem;
    margin-top: 25px ;
}

.btn-modal:hover{
    cursor: pointer;
    background: var(--brown);
}

.img-modal{
    width: 15%;
    margin: 15px;
    padding: 10px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-modal{
    font-size: 13px;
}