
  <div class="card">

    <div class="card-img">
      <img class="imgBox" src="{{product.image}}" alt="">
    </div>

    <div class="card-info">
      <p class="text-title">{{product.name}}</p>
    </div>

    <div class="card-footer">
      <div class="card-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
        </svg>
      </div>
      <p class="text-title">${{product.price}}</p>
      <div class="card-button">
        <svg (click)="onAddToCart()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </div>
    </div>

  </div>


  <!-- <button>
<p>{{product.name}}</p>
<p>{{product.price}}</p>
</button> -->


<!-- <div class="card">
  <div class="blob"></div>
    <span class="img">
      <img class="imgBox" src="{{product.image}}" alt="">
    </span>
    <h2>{{product.name}}<br><span>{{product.price}}</span></h2>
    <button (click)="onAddToCart()">Add cart </button>
</div> -->



<!-- <div class="card2">
  <div class="image2"><img class="imgBox" src="{{product.image}}" alt=""></div>
    <h2 class="title2">{{product.name}}</h2>
    <span class="price2">$100{{product.price}}</span>
  </div> -->
