.header{
    width: 100%;
    height: 60px;
    background-color: var(--brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;  
}

.burger{
    font-size: 18px;
    width: 10rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a:hover{
    cursor: pointer;
}

.btn-header{
    background-color: var(--brown);
    color: var(--white);
    width: 9rem;
    height: 2rem;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
}

.log-out{
    width: 40px;
    height: 40px;
}
